Thumbs.db
.DS_Store
*.swp

/.vscode/
/.idea/
/.idea
registry/kubernetes/.idea/modules.xml
registry/kubernetes/.idea/misc.xml
registry/consul/.idea/vcs.xml
registry/kubernetes/.idea/vcs.xml
registry/kubernetes/.idea/kubernetes.iml
registry/kubernetes/.idea/.gitignore
registry/consul/.idea/misc.xml
registry/consul/.idea/consul.iml
registry/consul/.idea/.gitignore
registry/consul/.idea/modules.xml
registry/nacos/.idea/watcherTasks.xml
registry/nacos/.idea/nacos.iml
registry/nacos/.idea/modules.xml
registry/nacos/.idea/misc.xml
registry/nacos/.idea/vcs.xml
registry/nacos/.idea/.gitignore
